body {
    background-color: #181818; /* Set the body background color */
    color: #ffffff; /* Set the default text color */
  }
  
  .trending-section {
    padding: 0 20px; /* Add padding to the sides of the trending section */
    margin-top: 0px;
  }

  .trending-now-text {
    margin-bottom:3rem;
  }

  .jumbotron-text {
    position: relative;
    padding: 150px 0;
    font-family:Merriweather;
    font-weight: 700;
  }

  
  .card {

    background-color: inherit; /* Inherit background color from body */
    color: inherit; /* Inherit text color from body */
    max-width: 450px; /* Set a maximum width for the cards */
    margin: 0 auto; /* Center the cards */
  }
  
  .card-title {
    color: inherit; /* Ensure the card title inherits the text color */
  }
  
  /* Additional styles for responsiveness if needed */
  @media (max-width: 576px) {
    .card {
      margin-bottom: 20px; /* Add margin at the bottom for small screens */
    }
  }
  
